<li>

      <h5><strong>Id: </strong><span>{{this.id}}</span></h5>
      <h5><strong>Name: </strong><span>{{this.burger_name}}</span></h5>

    <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
        {{#if devour}}EATEN! {{else}}Click to NOM NOM NOM {{/if}}
    </button>

</li>